@import url('https://fonts.googleapis.com/css2?family=Slackey&family=Source+Code+Pro&display=swap');

* {
    background-color:  #000000;
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;

}

.textImput{
    border: none;
    color:#0aec11;
    margin-top: 90px;
    text-transform: lowercase;
    resize: none;
    height: 250px;
    caret-color:#0aec11;

}

::placeholder{
    color:#0aec11;
}

.textImput:focus{
    outline: none;
}
.textOutput {
    background:#000000;
    background-image: url("assets/matrix.jpg");
    /* background-repeat:no-repeat; */
    border:none;
    border-radius: 24px;
    color:#0aec11;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: absolute;
    resize: none;
    height: 600px;
    top:15px;
    caret-color: #0aec11;

}

.textOutput:focus {
    outline: none;
    background-image:none;
}

.textOutput::selection{
    background:#0aec11;
    color:#000000;


}

.botones {
    display: flex;
    margin-top: 10px;
    
    
}

.btn-encrypt{
    background-color: #000000;
    border: 1px solid #0aec11;
    border-radius: 24px;
    color: #0aec11;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-right: 20px;

}

.btn-decrypt{
    background: #000000;
    border: 1px solid #0aec11;
    border-radius: 24px;
    color: #0aec11;
    cursor:pointer;
    height: 67px;
    width: 328px;
    margin-left:20px;

}

 .copy{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

} 
.btn-copy{
    border: 1px solid #0aec11;
    border-radius: 24px;
    color: #0aec11;
    cursor: pointer;
    width: 336px;
    height: 67px;
    margin-left: 108px;
    top: 468px; 
    position: relative;
    

}

.info{
    font-size: 18px;
    color: #07a40c;
    opacity: 0.8;
}
